# Created by https://www.toptal.com/developers/gitignore/api/unity
# Edit at https://www.toptal.com/developers/gitignore?templates=unity

### Unity ###
*.meta

# End of https://www.toptal.com/developers/gitignore/api/unity